{%  load static  %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Tusker</title>
  <link rel='stylesheet' href="{% static 'index/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<h2>Tusker</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="POST">
            {% csrf_token %}
			<h1>Crear Cuenta</h1>
            {{ up_form }}
			<button type="submit" name='submit' value='sign_up'>Crear cuenta</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form  method="POST">
            {% csrf_token %}
			<h1>Iniciar Sesión</h1>
            {{ in_form }}
			<a href="#">Olvidaste tu contraseña?</a>
			<button type="submit" name='submit' value='sign_in'>Ingresar</button>
            <!-- MESSAGES-->
            {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Registro</h1>
				<p>Ingresa tus datos para crear una nueva cuenta.</p>
				<button class="ghost" id="signIn">Volver</button>
			</div>
			<div class="overlay-panel overlay-right">
                <img src="{% static 'prueba/img/logo.png' %}" class="img-fluid" style="width: 40%">
				<h1>Bienvenido a Tusker!</h1>
				<p>Tusker es una aplicación de precisión que te ayudará a manejar mejor tu tiempo.
                    Puedes registrar y evaluar tus actividades, comparar con amigos, y mucho más</p>
				<button class="ghost" id="signUp">Únete :D</button>
			</div>
		</div>
	</div>
</div>

<!-- partial -->
  <script  src="{% static 'index/js/loginscript.js' %}"></script>

</body>
</html>